<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <title>Admin</title>
</head>
<body>
    <div class="container">
        <div th:insert="~{navbar}"></div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Admin</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center">Contacts</h2>
                    </div>
                </div>
                <div class="row" th:each="contact : ${contacts}">
                    <div class="col-md-4">
                        <p th:text="${contact.name()}"></p>
                    </div>
                    <div class="col-md-4">
                        <p th:text="${contact.email()}"></p>
                    </div>
                    <div class="col-md-4">
                        <p th:text="${contact.phoneNumber()}"></p>
                    </div>
                    <div class="col-md-12">
                        <p class="text-center" th:text="${contact.message()}"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center">Jobs</h2>
                    </div>
                    <div class="col-md-12">
                        <p class="text-center"><a th:href="@{/job/new}">New Job</a></p>
                    </div>
                </div>
<!--                <div class="row" th:each="contact : ${contacts}">-->
<!--                    <div class="col-md-4">-->
<!--                        <p th:text="${contact.name()}"></p>-->
<!--                    </div>-->
<!--                    <div class="col-md-4">-->
<!--                        <p th:text="${contact.email()}"></p>-->
<!--                    </div>-->
<!--                    <div class="col-md-4">-->
<!--                        <p th:text="${contact.phoneNumber()}"></p>-->
<!--                    </div>-->
<!--                    <div class="col-md-12">-->
<!--                        <p class="text-center" th:text="${contact.message()}"></p>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</body>
</html>