<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <title>New Job</title>
</head>
<body>
    <div class="container">
        <div th:insert="~{navbar}"></div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Edit Main Page</h1>
            </div>
        </div>
        <div class="row">
            <div th:unless="${mainPageSaved}" class="col-md-4 col-md-offset-4">
                <form action="#" th:action="@{'/main-page/edit'}" th:object="${mainPageEdit}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" th:field="*{title}" name="title" required>
                        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger responsive-text"></div>
                    </div>
                    <div id="mainImageContainer">
                        <div th:unless="*{hasMainPageImage()}" class="form-group">
                            <label for="mainPageImage">Main page image (PNG/JPEG)</label>
                            <input type="file" class="form-control" id="mainPageImage" th:field="*{mainPageImage}" name="mainPageImage" placeholder="img">
                            <div th:if="${#fields.hasErrors('mainPageImage')}" th:errors="*{mainPageImage}" class="text-danger responsive-text"></div>
                        </div>
                        <div th:if="*{hasMainPageImage()}" class="form-group">
                            <label for="deleteMainPageImage"><img class="img-size-100" th:src="@{'/main-image'}" alt="Main Image"></label>
                            <label for="deleteMainPageImage">Delete Main Image</label>
                            <input type="checkbox" class="form-control" id="deleteMainPageImage" th:field="*{deleteMainPageImage}" name="deleteMainPageImage">
                            <div th:if="${#fields.hasErrors('deleteMainPageImage')}" th:errors="*{deleteMainPageImage}" class="text-danger responsive-text"></div>
                        </div>
                    </div>
                    <div id="section1Content">
                        <div class="form-group">
                            <label for="sectionOneTitle">Section One Title</label>
                            <input type="text" class="form-control" id="sectionOneTitle" th:field="*{sectionOneTitle}" name="sectionOneTitle" required>
                            <div th:if="${#fields.hasErrors('sectionOneTitle')}" th:errors="*{sectionOneTitle}" class="text-danger responsive-text"></div>
                        </div>
                        <div class="form-group">
                            <label for="sectionOneContent">Section One Content (use commas to separate list items)</label>
                            <textarea class="form-control" id="sectionOneContent" th:field="*{sectionOneContent}" name="description" th:text="*{sectionOneContent}" required></textarea>
                            <div th:if="${#fields.hasErrors('sectionOneContent')}" th:errors="*{sectionOneContent}" class="text-danger responsive-text"></div>
                        </div>
                    </div>
                    <div id="section2Content">
                        <div class="form-group">
                            <label for="sectionTwoTitle">Section Two Title</label>
                            <input type="text" class="form-control" id="sectionTwoTitle" th:field="*{sectionTwoTitle}" name="sectionTwoTitle" required>
                            <div th:if="${#fields.hasErrors('sectionTwoTitle')}" th:errors="*{sectionTwoTitle}" class="text-danger responsive-text"></div>
                        </div>
                        <div class="form-group">
                            <label for="sectionTwoContent">Section Two Content</label>
                            <textarea class="form-control" id="sectionTwoContent" th:field="*{sectionTwoContent}" name="description" th:text="*{sectionTwoContent}" required></textarea>
                            <div th:if="${#fields.hasErrors('sectionTwoContent')}" th:errors="*{sectionTwoContent}" class="text-danger responsive-text"></div>
                        </div>
                    </div>
                    <div id="section3Content">
                        <div class="form-group">
                            <label for="sectionThreeTitle">Section Three Title</label>
                            <input type="text" class="form-control" id="sectionThreeTitle" th:field="*{sectionThreeTitle}" name="sectionThreeTitle" required>
                            <div th:if="${#fields.hasErrors('sectionThreeTitle')}" th:errors="*{sectionThreeTitle}" class="text-danger responsive-text"></div>
                        </div>
                        <div class="form-group">
                            <label for="sectionThreeContent">Section Three Content (use commas to separate list items)</label>
                            <textarea class="form-control" id="sectionThreeContent" th:field="*{sectionThreeContent}" name="description" th:text="*{sectionThreeContent}" required></textarea>
                            <div th:if="${#fields.hasErrors('sectionThreeContent')}" th:errors="*{sectionThreeContent}" class="text-danger responsive-text"></div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
            </div>
            <div th:if="${mainPageSaved}" class="col-md-4 col-md-offset-4">
                <p class="text-center">Main Page Saved</p>
                <p class="text-center"><a th:href="@{'/main-page/edit'}">Edit Main Page</a></p>
                <p class="text-center"><a th:href="@{/admin}">Admin</a></p>
            </div>
        </div>
    </div>
</body>
</html>