<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <title>Dave's Custom Body and Paint</title>
</head>
<body>
    <div class="container">
        <div th:insert="~{navbar}"></div>
        <div th:unless="${mainPage != null}" class="row">
            <div class="col-md-12">
                <p>Main page no data</p>
            </div>
        </div>
        <div th:if="${mainPage != null}" class="row">
            <div class="col-md-12">
                <p>Main page has data</p>
            </div>
        </div>
    </div>
</body>
</html>